create database Pd02930_QLSV
go

use Pd02930_QLSV
go

create table SINHVIEN
(
	MASV VARCHAR(10) PRIMARY KEY NOT NULL,
	HOTEN NVARCHAR(50),
	EMAIL VARCHAR(50),
	SDT VARCHAR(10),
	GIOITINH BIT,
	DIACHI NVARCHAR(50)
)
go

INSERT INTO SINHVIEN VALUES('SV01', N'Van Tien Minh', 'minhntps10576@fpt.edu.vn', '0334255377', 1, N'123 Lê Duẩn Q1 Da nag')
INSERT INTO SINHVIEN VALUES('SV02', N'Nguyễn Thị Hồng', 'hongnt6@fpt.edu.vn', '0741852963', 0, N'45 Hàn Hải Nguyên Q11 TPHCM')
INSERT INTO SINHVIEN VALUES('SV03', N'Đoàn Nguyên Phú', 'phudn123@gmail.com', '0789456123', 1, N'3 Lê Đại Hành Q10 TPHCM')
go
select*from SINHVIEN
Create table USERS(
		USERNAME NVARCHAR(50) NOT NULL,
		PASSWORDD NVARCHAR(50) NULL,
		ROLE NVARCHAR(50) NULL,
		CONSTRAINT PK_USERS PRIMARY KEY(USERNAME)
	)
